<div class="row" *ngIf="selectedItem.id">
  <div class="col-lg-10 offset-lg-1 col-xs-12">
    <span class="selectedItem">{{originalName}} Selected:</span>
    <button class="btn btn-primary btn-sm" (click)="opened = true">Edit</button>
    <button type="button" class="btn btn-warning btn-sm" (click)="cancelled.emit(selectedItem)">Cancel</button>
  </div>
</div>


<clr-modal [(clrModalOpen)]="opened" [clrModalSize]="'xl'" [clrModalClosable]="false">

  <h3 class="modal-title">Editing {{originalName}}</h3>

  <div class="modal-body">
    <div class="card">
      <div class="card-header">
        Item ID: {{selectedItem.id}}
      </div>
      <div class="card-block">
        <div class="card-title">
          <label>Item Name: </label>
          <input [(ngModel)]="selectedItem.name"
                name="name"
                placeholder="Enter a name"
                type="text">
        </div>
        <div class="card-text">
          <label>Description: </label>          
          <textarea [(ngModel)]="selectedItem.description" 
                    name="description" 
                    placeholder="Enter a Description"
                    cols="30" rows="4">
          </textarea>
          <label for="user">User: </label>
          <select [(ngModel)]="selectedItem.userId" 
                  name="user">
            <option value="undefined">Select...</option>
            <option *ngFor="let user of users$ | async" 
                    [ngValue]="user.id">
                    {{user.name}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="saved.emit(selectedItem)" (click)="opened = false">Save</button>
    <button type="button" class="btn btn-primary" (click)="cancelled.emit(selectedItem)" (click)="opened = false">Close</button>
  </div>

</clr-modal>
