<clr-main-container>
  <app-header-nav></app-header-nav>
  <nav class="subnav" [clr-nav-level]="1">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[linkService.links.home]" [class.active]="router.url === linkService.links.home || router.url === '/'">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[linkService.links.modal]" [class.active]="router.url === linkService.links.modal">Modal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[linkService.links.dropdown]" [class.active]="router.url === linkService.links.dropdown">Dropdown</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
    <nav class="sidenav" [clr-nav-level]="2">
      <app-side-nav></app-side-nav>
    </nav>
  </div>
</clr-main-container>
