<clr-main-container>
  <app-header-nav></app-header-nav>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <nav class="sidenav" [clr-nav-level]="2">
      <section class="sidenav-content">
        <section class="nav-group collapsible">
          <input id="tabexample1" type="checkbox">
          <label for="tabexample1">Collapsible Nav Element</label>
          <ul class="nav-list">
            <a class="nav-link" href="#" [routerLink]="['/components/home']" [class.active]="router.url==='/components/home' || router.url==='/'">Home</a>
            <a class="nav-link" href="#" [routerLink]="['/components/modal']" [class.active]="router.url==='/components/modal'">modal</a>
            <a class="nav-link" href="#" [routerLink]="['/components/dropdown']" [class.active]="router.url==='/components/dropdown'">dropdown</a>
          </ul>
        </section>
        <section class="nav-group">
          <input id="tabexample2" type="checkbox">
          <label for="tabexample2">Default Nav Element</label>
          <ul class="nav-list">
            <a class="nav-link" href="#" [routerLink]="['/components/home']" [class.active]="router.url==='/components/home' || router.url==='/'">Home</a>
            <a class="nav-link" href="#" [routerLink]="['/components/modal']" [class.active]="router.url==='/components/modal'">modal</a>
            <a class="nav-link" href="#" [routerLink]="['/components/dropdown']" [class.active]="router.url==='/components/dropdown'">dropdown</a>
          </ul>
        </section>
      </section>
    </nav>
  </div>
</clr-main-container>
