<clr-main-container>
  <app-header-nav></app-header-nav>
  <nav class="subnav" [clr-nav-level]="1">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" 
          (click)=getUrl()
          [routerLink]="[linkService.subMenuLinks.home]" 
          [class.active]="router.url === linkService.subMenuLinks.home || router.url === '/'">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" 
          (click)=getUrl()
          [routerLink]="[linkService.subMenuLinks.components]" 
          [class.active]="router.url.includes('components') === true">
          Components
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" 
          (click)=getUrl()
          [routerLink]="[linkService.subMenuLinks.items]" 
          [class.active]="router.url.includes('items') === true">
          Items
        </a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
    <nav class="sidenav" [clr-nav-level]="2" *ngIf="router.url.includes('components') === true">
      <app-side-nav></app-side-nav>
    </nav>
  </div>
</clr-main-container>
